html{
    text-align: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('image/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
}
.display{
    grid-column: span 4;
}
.clear{
    grid-column: span 2;
}
.delete{
    grid-column: span 2;
}
.display{
    border: 1px solid black;
    text-align: right;
    padding-right: 1%;
    font-size: 50px;
    padding-top: 5%;
    overflow: auto;
}